.foy-mandatory{
    color: red;
}
.menu-sub span.menu-title {
    font-size: 12px;
}
h1.foy-404 {
    font-size: 220px;
    line-height: 200px;
    margin: 0px;
}
h2.foy-em {
    font-size: 38px;
}
.twoline{
    display: -webkit-box !important;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
}
.oneline{
    display: -webkit-box !important;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
}
.page-link {
    background-color: #ffffff;
    border: 1px solid #eff2f5;
}
table.dataTable>thead .sorting:after, table.dataTable>thead .sorting:before, table.dataTable>thead .sorting_asc:after, table.dataTable>thead .sorting_asc:before, table.dataTable>thead .sorting_desc:after, table.dataTable>thead .sorting_desc:before {
    display: inline-block !important;
    right: auto !important;
}
table.dataTable>thead .sorting:before, table.dataTable>thead .sorting_asc:before, table.dataTable>thead .sorting_asc_disabled:before, table.dataTable>thead .sorting_desc:before, table.dataTable>thead .sorting_desc_disabled:before {
    right: 0;
    content: "" !important;
}
table.dataTable>thead .sorting:after, table.dataTable>thead .sorting_asc:after, table.dataTable>thead .sorting_asc_disabled:after, table.dataTable>thead .sorting_desc:after, table.dataTable>thead .sorting_desc_disabled:after {
    right: 0m;
    content: "" !important;
}
table.dataTable>thead .sorting:after, table.dataTable>thead .sorting:before, table.dataTable>thead .sorting_asc:after, table.dataTable>thead .sorting_asc:before, table.dataTable>thead .sorting_desc:after, table.dataTable>thead .sorting_desc:before {
    width: 1rem;
    height: 1rem;
}
.symbol.symbol-50px>img {
    width: 40px;
    height: 40px;
}
.btn.btn-bg-light {
    border: 1px solid #e5e5e5 !important;
    border-color: #f5f8fa;
    background-color: #ffffff;
}
.chat-default-image{
    height: 50%;
    width: 50%;
}
.foy-chat-us:last-child{
    border-bottom: none;
}
.foy-top-40 {
    top: 40%;
}
.foy-action-button{
    padding: 7px 10px 7px 10px !important;
}
.foy-textarea {
    border: 1px solid #eff2f5 !important;
    border-radius: 6px !important;
    -webkit-border-radius: 6px !important;
    -moz-border-radius: 6px !important;
    -ms-border-radius: 6px !important;
    -o-border-radius: 6px !important;
}
.foy-reload span{
    margin-right: 0px !important;
}
.foy-req-action{
    left: -7px !important;
    transition: opacity 5s;
}
.foy_map_infoWindow p{
    color: #333;
    font-family: Roboto,Arial;
    font-size: 11px;
    user-select: text;
    font-weight: 400;
}
.foy_map_infoWindow .foy_infoWindow_heading{
    font-weight: 500;
    font-size: 12px;
}
.foy_vo_vehicle{
    color: #333;
    font-family: Roboto,Arial;
    font-size: 16px;
    user-select: text;
    font-weight: 400;
}
::-webkit-scrollbar {
    width: 8px;
    background-color: #ffffff;
}
::-webkit-scrollbar-thumb {
    border-radius: 3px;
    /* -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3); */
    -webkit-box-shadow: #000000;
    background-color: #009ef7;
}
.foy_wlh_button_contents p{
    margin: 0px;
    text-align: left;
    color: #ffffff;
}
.foy_wlh_button{
    border-radius: 3px;
    margin: 0px 2px 2px 0px;
    border: 1px solid #D9214E;
    background: #D9214E;
    padding: 5px 10px;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 10px 15px -3px, rgba(0, 0, 0, 0.05) 0px 4px 6px -2px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    -ms-border-radius: 3px;
    -o-border-radius: 3px;
}
.foy_route_div{
    display: grid;
    margin: 10px 1px;
}
p.foy_route_heading {
    font-size: 14px;
    text-align: center;
    font-weight: bold;
}
.foy_wlh_heading_button{
    border-radius: 3px;
    margin: 0px 2px 2px 0px;
    border: 1px solid #50CD89;
    background: #50CD89;
    padding: 5px 10px;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 10px 15px -3px, rgba(0, 0, 0, 0.05) 0px 4px 6px -2px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    -ms-border-radius: 3px;
    -o-border-radius: 3px;
}
